#main-container {
  width: 100vw;
  height: 80vh;
  display: inline-flex;
}

#algorithm-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

#div-container {
  display: flex;
  border: solid pink 3px;
  border-radius: 20px;
  width: 75vw;
  height: 50vh;
  gap: 3px;
  justify-content: center;
  align-items: flex-end;
}

#sidenav {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background: rgba(0, 0, 0, 0.1);
}

.sidenav-button {
  height: 3rem;
}

.data {
  background-color: #80F0F0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

#comparing {
  background-color: #085c5c;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

