#main-container {
  display: inline-flex;
  width: 100vw;
  height: 80vh;
}

#sidenav {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background: rgba(0, 0, 0, 0.1);
}

.sidenav-button {
  height: 3rem;
}

#algorithm-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

#div-container {
  position: relative;
  border: solid pink 1px;
  border-radius: 20px;
  width: 53vw;
  height: 50vh;
  margin: 0px 5vw 0px 5vw;
}
/* 
#info-container {
  margin: 0;
} */

.data {
  width: 25px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #80f0f0;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  transition: 0.35s all ease;
}

.data::before {
  content: "😐";
  margin-left: 2px;
  margin-top: 5px;
}

#comparing {
  background-color: #0b3c5bff;
  border: solid black 1px;
}

#comparing::before {
  content: "🤔";
  margin-left: 2px;
  margin-top: 5px;
}

#selected {
  background-color: #fba497ff;
  border: solid black 1px;
}

#selected::before {
  content: "😦";
  margin-left: 2px;
  margin-top: 5px;
}

#sorted {
  background-color: #f9de7dff;
}

#sorted::before {
  content: "😀";
  margin-left: 2px;
  margin-top: 5px;
}

.text-button-container {
  margin-top: 0;
  padding-top: 0;
}
