* {
  padding: 0;
  margin: 0;
}

body {
  background-color: darkgrey;
  color: #0b3c5bff;
}

header {
  display: flex;
  justify-content: center;
  margin: 1rem 0;
  font-size: 1.5rem;
}

.header-link {
  display: inline-block;
  font-family: "Kanit", sans-serif;
  margin: 0 1.2rem;
  color: inherit;
  border-radius: 10%;
  text-decoration: none;
}

.heading {
  display: flex;
  justify-content: center;
  font-family: "DM Sans", sans-serif;
  padding: 10px;
}

button {
  white-space: nowrap;
  border: solid darkblue 2px;
  border-radius: 10px;
  padding: 0 1rem;
  margin: 1em;
  background-color: transparent;
  color: black;
  font-weight: 900;
  font-size: 1.5rem;
  
}

button:active {
  box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);
  transform: translateY(4px);
}

.text-input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

textarea {
  font-family: "DM Sans", sans-serif;
  padding: 6px;
  border-radius: 5px;
  background-color: aqua;
  border: none;
  resize: none;
}

.text-button-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.paragraph-container {
  display: flex;
  justify-content: center;
}

p {
  font-family: "Libre Franklin", sans-serif;
  padding: 2rem;
}

footer {
  position: fixed;
  bottom: 0;
  display: flex;
  font-family: "Libre Franklin", sans-serif;
  color: #a2c8bdff;
  gap: 5px;
  margin-left: 20px;
}

#a-footer {
  text-decoration: none;
  color: inherit;
}

#american-flag-img {
  width: 1rem;
}
