body {
  padding: 0;
  margin: 0;
  background-color: #36464d;
  color: #ffffffb3;
}

header {
  display: flex;
  justify-content: center;
  margin: 1rem 0;
  font-size: 1.5rem;
}

.header-link {
  display: inline-block;
  font-family: "Kanit", sans-serif;
  margin: 0 1.2rem;
  color: aliceblue;
  border-radius: 10%;
  text-decoration: none;
}

.heading {
  display: flex;
  justify-content: center;
  font-family: 'DM Sans', sans-serif;

}

.btn {
  width: auto;
  height: auto;
  border: 0;
  padding: 0 1rem;
  margin: 1em;
  background-color: #ffffffb3;
  color: rgb(23, 51, 77);
  font-weight: 900;
  font-size: 1.5rem;
}

.text-input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

textarea {
    font-family: 'DM Sans', sans-serif;
    
}

.text-button-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.paragraph-container {
  display: flex;
  justify-content: center;
}

p {
  font-family: "Libre Franklin", sans-serif;
  padding: 2rem;
}

footer {
    display: flex;
    font-family: "Libre Franklin", sans-serif;
    gap: 5px;
    margin-left: 2rem;
}

#a-footer {
    text-decoration: none;
    color: inherit;
}

#american-flag-img {
    width: 1rem;
}
