/* Coolors Exported Palette - https://coolors.co/f9de7d-fba497-a2c8bd-3cb3bb-236484-0b3c5b */
/* This is just for reference. File is not included in the HTML */

/* SCSS HEX */
$jasmine: #f9de7dff;
$melon: #fba497ff;
$ash-gray: #a2c8bdff;
$verdigris: #3cb3bbff;
$lapis-lazuli: #236484ff;
$indigo-dye: #0b3c5bff;

/* SCSS Gradient */
$gradient-top: linear-gradient(
  0deg,
  #f9de7dff,
  #fba497ff,
  #a2c8bdff,
  #3cb3bbff,
  #236484ff,
  #0b3c5bff
);
$gradient-right: linear-gradient(
  90deg,
  #f9de7dff,
  #fba497ff,
  #a2c8bdff,
  #3cb3bbff,
  #236484ff,
  #0b3c5bff
);
$gradient-bottom: linear-gradient(
  180deg,
  #f9de7dff,
  #fba497ff,
  #a2c8bdff,
  #3cb3bbff,
  #236484ff,
  #0b3c5bff
);
$gradient-left: linear-gradient(
  270deg,
  #f9de7dff,
  #fba497ff,
  #a2c8bdff,
  #3cb3bbff,
  #236484ff,
  #0b3c5bff
);
$gradient-top-right: linear-gradient(
  45deg,
  #f9de7dff,
  #fba497ff,
  #a2c8bdff,
  #3cb3bbff,
  #236484ff,
  #0b3c5bff
);
$gradient-bottom-right: linear-gradient(
  135deg,
  #f9de7dff,
  #fba497ff,
  #a2c8bdff,
  #3cb3bbff,
  #236484ff,
  #0b3c5bff
);
$gradient-top-left: linear-gradient(
  225deg,
  #f9de7dff,
  #fba497ff,
  #a2c8bdff,
  #3cb3bbff,
  #236484ff,
  #0b3c5bff
);
$gradient-bottom-left: linear-gradient(
  315deg,
  #f9de7dff,
  #fba497ff,
  #a2c8bdff,
  #3cb3bbff,
  #236484ff,
  #0b3c5bff
);
$gradient-radial: radial-gradient(
  #f9de7dff,
  #fba497ff,
  #a2c8bdff,
  #3cb3bbff,
  #236484ff,
  #0b3c5bff
);
